/* shift of div
for this 1st find location of 5th div and 2nd div
yhen shift */
*{
    margin: 0;
    padding: 0;
    }
    .main{ /* 1st */
    width:90%;
    margin: 20px auto;
    padding: 10px; /* outline gaps */
    border: 1px solid blue;
    background-color: darkorange;
    display: grid;
    
    grid-template-rows: 150px 150px;
    
    grid-template-columns: repeat(3,auto);
    grid-auto-rows:auto;
    gap: 10px;
    
    }
    .div1{
    background-color: lightblue;
    
    }
    .div2{
    background-color: lightcoral;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    }
    .div3{
    background-color: lightcyan;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    }
    .div4{
    background-color: lightgreen;
    }
    .div5{
    background-color: lightgoldenrodyellow;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    }
    .div6{
    background-color: lightsalmon;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    }